<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>

		<!--Connexion string de Alexandre-->
		<!--
	  <add name="BoVoyage" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BoVoyage;Integrated Security=True" providerName="System.Data.SqlClient" />
	  <add name="BoVoyageContext" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=BoVoyage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		-->
		
		<!--Connexion string de Diego-->
		<!--
	  	<add name="BoVoyage" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BoVoyage;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="BoVoyageContext1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=BoVoyage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->

		<!--Connexion string de Krystal-->

		<add name="BoVoyage" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BoVoyage;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="BoVoyageContext" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=BoVoyage;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />



	  <!--Connexion string de Quentin-->
		<!--
	  <add name="BoVoyage" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BoVoyage;Persist Security Info=True;User ID=sa;Password=Cocoetmilou1" providerName="System.Data.SqlClient" />
	  <add name="BoVoyageContext" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=BoVoyage;persist security info=True;user id=sa;password=Cocoetmilou1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->

	  <!--Connexion string de Vincent-->
		<!--
	  <add name="BoVoyage" connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=BoVoyage;Integrated Security=True" providerName="System.Data.SqlClient" />
	  <add name="BoVoyageContext" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS01;initial catalog=BoVoyage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  -->

  </connectionStrings>
</configuration>