@{
    ViewBag.Title = "About";
}
<h2>A propos de nous</h2>
<h3>Notre entreprises</h3>

<p>Bo Voyage par Wattapik est une jeune entreprise dynamique à taille humaine.</p>
<p>
    Nous nous engageons à trouver les meilleures offres afin de vous offrir vos meilleurs souvenirs.
</p>

<br />
<h3>Notre équipe</h3>
Alexandre<br/>
Leader en chef de la formation 2021 des meilleurs développeurs de France. Alexandre gére l'entreprise d'un main de maitre. Nous avons de la chance de l'avoir.
<br/><br/>
Diego<br/>
Chasseur de pokémon professionnel, Diego nous a rejoint l'année dernière. Aujourd'hui il chasse les meilleurs offres pour vous !
<br/><br/>
Krystal<br/>
Minutieuse depuis sa naissance, s'occupe de l'organisation de vos voyages à la seconde prêt! <br/>
<br/>
Quentin<br/>
Ancienement expert en systèmes embarqués, Quentin nous a rejoint pour developper d'entreprise au niveau mondial.
<br/><br/>
Vincent<br/>
Musicien de génie, s'assure pour vous que nos voyages proposent les meilleures sorties pour que vos vacances soient inoubliables.
<br/>


<br />
<h3>Nos partenaires</h3>
<p>Hotels, agences de voyage, airlines etc...</p>