@{
    ViewBag.Title = "Contact";
}
<h2>Contactez nous !</h2>
<h3>Bo Voyage par Wattapik</h3>

<address>
    7 Chemin des Developpeurs Web<br />
    Strasbourg 67200  <br />
    <abbr title="Phone">Téléphone:</abbr>
    09.42.55.50.10
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@bovoyage.com">Support@bovoyage.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@bovoyage.com">Marketing@bovoyage.com</a>
</address>